body{ margin: 0;	padding: 0;	   width:100%;    background-color: rgba(200,200,200,0.3);}

/*  页眉部分的样式，固定窗口定位在页面顶部,包含一个logo*/
header {	width: 100%;	height: 50px;	position: fixed;	top: 0;		background-color: gray;		}
header div {	width:1200px;	height: 50px;	margin: auto;	padding: 0;		}

main {	margin: auto;	width: 1200px;		margin-top:53px;	}

/*  主体部分的左边栏,向左浮动，包含用户信息及列表项信息*/
#hp-user {	width: 200px;	height: 800px;	margin-right: 5px;	padding: 0;		float: left;	}

/*  主体部分的第一个右边栏,向右浮动，包含功能性的时钟部分，在它下面会有项目的结束按钮*/
#hp-clock {	width: 250px;	height: 550px;	margin-left: 5px;	padding: 0;		float: right;	}

/*  主体部分的第二个右边栏,向右浮动，包含当前选择的项目的结束按钮*/
#hp-endfile {width: 250px;	height: 250px;	margin-top: 5px;	margin-left: 5px;	padding: 0;		float: right;	clear: right;	}

/*  主体部分的中心栏顶部,包含着计时器*/
#hp-timer {	height: 180px;	}

/*  主体部分的中心栏中部, 包含着当前项目的统计数据柱状图*/
#hp-histogram {	height: 200px;	margin-top: 5px;	}

/*  主体部分的中心栏底部,包含着当前项目的统计数据列表*/
#hp-tables {	height: 400px;	margin-top: 5px;	}

/*  页脚部分的样式，固定窗口定位在页面底部包含一个作者信息及一个反馈按钮*/
footer {	width: 100%;	height: 40px;	background-color: gray;	position: fixed;	bottom: 0;	}
footer div {	width: 1200px;	margin: auto;	text-align: right;	}
footer div pre a{	text-decoration: none;	color: black;	}
footer div pre a:hover {	text-decoration: underline;	color: rgb(200,200,200);	}